Django==5.2.4
gunicorn==23.0.0
django-allauth==65.9.0
django-braces==1.13.0
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-datetimepicker==3.14
django-markdownx==4.0.9
django-oauth-toolkit==3.0.1
django-rest-framework-social-oauth2==1.1.0
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
filelock==3.4.2
future==1.0.0
html2markdown==0.1.7
html2text==2025.4.15
httplib2==0.22.0
idna==3.10
importlib-metadata==8.7.0
importlib-resources==6.5.2
iso8601==2.1.0
jsonschema==4.4.0
jwcrypto==1.5.6
Markdown==3.2.2
mistletoe==1.4.0
mixins==0.1.4
oauthlib==3.3.1
Pillow==11.3.0
pycparser==2.21
PyJWT==2.10.1
pyparsing==3.0.7
pyrsistent==0.20.0
python3-openid==3.1.0
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
soupsieve==2.7
sqlparse==0.5.3
urllib3==2.5.0
whitenoise==6.3.0
wrapt==1.17.2
zipp==3.23.0
